# RNG Commands - access transformers (converted from clientcommands.aw, RNG subset only)
# cfish
public net.minecraft.world.entity.projectile.FishingHook canHitEntity (Lnet/minecraft/world/entity/Entity;)Z
# RNG Events
public net.minecraft.world.entity.Entity isInvulnerableToBase (Lnet/minecraft/world/damagesource/DamageSource;)Z
public-f net.minecraft.world.entity.LivingEntity lastHurt #F
public-f net.minecraft.world.entity.decoration.ArmorStand invisible #Z
public-f net.minecraft.world.level.levelgen.LegacyRandomSource seed #Ljava/util/concurrent/atomic/AtomicLong;
